:root {
  --main-color: #543801;
  --second-color: #ffb800;
  --third-color: #ffffff;
  --fourth-color: #986a11;
  --fifth-color: #9c6d12;
  --font-readex: "ReadexPro-bold";
  }
 
/* font face */
@font-face {
  font-family: "ReadexPro-bold";
  src: url("../fonts/ReadexPro-bold.ttf");
}
 
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
 
html {
  max-width: 100vw;
}
 
body {
  background: var(--main-color);
  overflow-x: hidden;
}
 
.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
 
header {
  min-width: 100vw;
  min-height: 100vh;
  justify-content: space-between;
  align-items: start;
  display: flex;
  position: absolute;
  z-index: 2;
}
 
header::before {
  content: "";
  background: url(../image/Curtain.webp);
  background-size: cover;
  width: 340px;
  height: 85vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
 
header::after {
  content: "";
  background: url(../image/Curtain.webp);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  background-size: cover;
  width: 340px;
  height: 85vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
 
.cloud {
  z-index: 0;
  position: relative;
}
 
.cloud img {
  width: 400px;
  transform: translate(-50px, -100px);
}
 
.logo {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 80px;
}
 
.logo::before {
  content: "";
  background: url("../image/logo.webp");
  width: 40px;
  height: 50px;
  z-index: 3;
  background-size: cover;
  position: relative;
}

.logo p {
  font-family: var(--font-readex);
  color: var(--second-color);
  font-size: 26px;
}
 
.logo p::before {
  content: "Bu";
  color: var(--third-color);
  font-size: 26px;
}
 
.cloud-right {
  transform: scaleX(-1);
  background-size: cover;
}
 
.cloud-left::before {
  content: "";
  background: url(../image/cloud.webp);
  width: 400px;
  height: 400px;
  background-size: cover;
  position: absolute;
  z-index: 1;
  transform: translate(-10px, 15px);
}
 
.cloud-right::before {
  content: "";
  background: url(../image/cloud.webp);
  width: 400px;
  height: 400px;
  background-size: cover;
  position: absolute;
  z-index: 1;
  transform: translate(-10px, 15px);
}
 
main {
  min-width: 100vw;
}
 
.wrapper-main {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
 
.main {
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 0;
}
 
.center {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}
 
.name {
  font-family: "ReadexPro-bold";
  color: var(--second-color);
  font-size: 100px;
}
 
.name::before {
  content: "Bu";
  color: var(--third-color);
}
 
.quote {
  width: 39.5%;
  height: 95px;
  background: var(--fourth-color);
  clip-path: polygon(100% 0%, 96% 45%, 100% 100%, 0 100%, 4% 45%, 0 0);
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: -1;
}
 
.quote::before {
  content: "Grow our culture with Technology";
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  rotate: -0.3deg;
  font-size: 28px;
  min-width: 10vw;
  font-family: var(--font-readex);
  font-weight: bold;
  letter-spacing: 5px;
  word-spacing: 2px;
  color: var(--third-color);
  z-index: 1;
}
 
.quote::after {
  content: "";
  width: 39%;
  height: 90px;
  background: var(--second-color);
  clip-path: polygon(100% 0%, 96% 45%, 100% 100%, 0 100%, 4% 45%, 0 0);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  z-index: 0;
}
 
.btn-main {
  background: var(--main-color);
  color: var(--third-color);
  -webkit-box-shadow: 0px 0px 47px -2px rgba(255, 184, 0, 1);
  -moz-box-shadow: 0px 0px 47px -2px rgba(255, 184, 0, 1);
  box-shadow: 0px 0px 47px -2px rgba(255, 184, 0, 1);
  text-shadow: 0px 0px 50px rgba(255, 184, 0, 1);
  padding: 20px 60px;
  outline: none;
  border: none;
  border-radius: 16px;
  margin-top: 20px;
  font-weight: bold;
}
 
.bg-bot {
  width: 100%;
  height: 15vh;
  background: var(--fifth-color);
  position: absolute;
  bottom: 0%;
}
 
.bg-bot::before {
  content: "";
  background: url("../image/kipas.webp");
  height: 70vh;
  width: 350px;
  background-size: cover;
  position: absolute;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: -220px;
  z-index: -3;
}
 
.bg-bot::after {
  content: "";
  background: linear-gradient(
    to bottom,
    var(--main-color),
    var(--second-color)
  );
  height: 70vh;
  width: 100%;
  position: absolute;
  top: -70vh;
  z-index: -5;
  opacity: 0.3;
}
 
.chara {
  position: absolute;
  bottom: 20px;
  z-index: 11;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}
 
.chara::before {
  content: "";
  background: url("../image/aset-1.webp");
  width: 350px;
  height: 450px;
  z-index: 111;
  bottom: 20px;
  left: 6vw;
  background-size: cover;
  position: absolute;
}
 
.chara::after {
  content: "";
  background: url("../image/aset-2.webp");
  width: 450px;
  height: 450px;
  z-index: 111;
  bottom: 20px;
  right: 6vw;
  background-size: cover;
  position: absolute;
}

nav {
  border-bottom: 1px solid #E7E6E1;
  background: hsla(0, 0%, 100%, .3);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 4;
  width: 100%;
  line-height: 1.5;
  box-shadow: 5px 3px 30px black;
  z-index: 999;
  border-radius: 25px;
}

nav::before {
  content: '';
  margin: 0px;
  filter: blur(20px);
  z-index: -1;
}

nav.bar h2 {
  margin-right: 45%;
  margin-top: 5px;
  font-size: 35px;
  font-family: 'ReadexPro-bold', monospace;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  -o-filter: blur(0px);
  filter: blur(0px); 
}

.nav-item {
  position: relative;
  list-style: none;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  -o-filter: blur(0px);
  filter: blur(0px);
}

.nav-link, .hamburger {
  display: block;
  padding: 20px 10px;
  margin: 0;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  -o-filter: blur(0px);
  filter: blur(0px); 
}

.nav-link:after, .hamburger:after {
  content: "";
  display: none;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #11698E;
}

.nav-link.active, .nav-link:hover, .hamburger:hover {
  color: #11698E;
}

.nav-link.active:after, .nav-link:hover:after{
  display: block;
}
   
.nav-item:hover .nav-dropdown {
  display: block;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 999;
  top: 58px;
  left: 0px;
  width: 140px;
  padding-bottom: 10px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #E8E8E8;
}

.nav-dropdown a {
  z-index: 999;
  display: block;
  padding: 10px;
  color: #314E52;
  text-decoration: none;
}

.nav-dropdown a:hover {
  z-index: 999;
  background-color: #F6F6F6;
}
   
nav.bar {
  background: hsla(0, 0%, 100%, .3);/* warna bg navbar */
  border-color: hsla(0, 0%, 100%, .3); /* warna bg navbar */
}

nav.bar .nav-link:after {
  background-color: #F2A154; /* warna border bawah navbar */
}

nav.bar .nav-link {
  color: white; /* warna teks navbar */
  font-weight: bold;
}

.menu-toggle {
  color: rgb(94, 94, 94);
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
  margin: 10px;
} 

.menu-toggle div {
  width: 100%;
  height: 5px;
  background-color: #fff;
  transition: transform 0.3s, opacity 0.3s;
}

.menu-toggle.active div:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-toggle.active div:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active div:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}


/* responsive */
@media screen and (max-width: 550px) {
.chara::after,
header::before,
.btn-main,
.logo,
.cloud,
.quote::after {
  display: none;
}
 
.quote {
  all: none;
  background: hsla(0, 0%, 0%, .0);
  min-width: 50%;
  min-height: 50px;
  margin-top: 0vw;
  margin-left: -45vw;
}
    
.quote::before {
  min-width: 50vw;
  font-size: 16px;
  font-weight: normal;
}
    
.name {
  font-size: 50px;
  margin-top: -90vw;
  margin-left: -45vw;
  }
    
.chara::before {
  transform: scale(0.7);
  bottom: -10vw;
  left: -15vw;
}
    
header::after {
  right: 0vw;
}
    
.bg-bot::before {
  max-width: 210px;
  max-height: 50vh;
  display: flex-star;
  justify-content: flex-star;
  margin-left: -20vw;
  margin-top: 20vw;
}
}
 
@media screen and (max-width: 760px) {
.chara::after,
header::before,
.btn-main,
.logo,
.cloud {
  display: none;
}
    
.quote::after {
  min-height: 150px;
}
    
.quote {
  min-height: 160px;
}
      
.menu-toggle {
  display: flex;
}

nav {
  border-bottom: 1px solid #E7E6E1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
}
    
.nav-item {
  text-align: center;
  align-items: center;
}
    
nav.bar h2 {
  margin-left: 45%;
  text-transform: capitalize;
}
    
.aktifkan {
  display: block;
}

.matikan {
  display: none;
}
}

@media screen and (min-width: 760px) {
.nav-item {
  margin: 0px 10px;
}
}
